<main class="flex-1 flex flex-col w-full">
  <!-- Cabecera de la página con título y botón -->
  <header class="flex flex-col gap-4 sm:flex-row sm:items-center sm:justify-between mb-6">
    <h2 class="text-2xl font-bold text-gray-800">Solicitudes de Pago</h2>
    <div class="flex flex-col sm:flex-row gap-4 w-full sm:w-auto">
      <!-- Buscador con iconos -->
        <app-search-box
        (search)="onSearchById($event)"
        (cleared)="onRefresh()"
        class="w-full sm:w-72"
        ></app-search-box>
      <!-- Botón crear -->
      <button (click)="onOpenCreate()"
        class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-lg shadow-md transition-colors duration-300 w-40">
        Crear Solicitud
      </button>

      <app-payment-create-modal
        *ngIf="isCreateModalOpen()"
        (close)="onCloseCreate()"
        (create)="onCreatePayment($event)">
      </app-payment-create-modal>
    </div>
  </header>


   <app-payment-loader *ngIf="isLoading()"></app-payment-loader>

    <div *ngIf="errorMessage" class="bg-red-50 border border-red-200 rounded-lg p-6">
      <p class="text-red-700">{{ errorMessage }}</p>
    </div>

    <div *ngIf="errorMessage" class="errorMessage">
      {{ errorMessage }}
    </div>

      <!-- Lista de pagos -->
    <app-payment-list
      *ngIf="!isLoading() && !error()"
      [payments]="pagos()"
      (paymentDetail)="onPaymentDetail($event)">
    </app-payment-list>

    <app-payment-detail-modal
      *ngIf="selectedPayment()"
      [payment]="selectedPayment()"
      (closed)="onCloseDetail()">
    </app-payment-detail-modal>

   <!-- Mensaje cuando no hay pagos  -->
    <div *ngIf="!isLoading() && !error() && pagos().length === 0"  
          class="flex items-center justify-center h-96 text-gray-500">
      <p>No se encontraron resultados</p>
    </div>

      <app-pagination
        [currentPage]="currentPage()"
        [totalItems]="totalElements()" 
        [itemsPerPage]="itemsPerPage()"
        (pageChange)="onPageChange($event)">
      </app-pagination>
</main>

